@model List<ResultProductDto>

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-sm-6 col-xl-3">
			<div class="card overflow-hidden rounded-2">
				<div class="position-relative">
					<a href="#"><img src="@item.ImageUrl" class="card-img-top rounded-0" alt="..." style="width:270px;height:270px"></a>
				</div>
				<div class="card-body pt-3 p-4">
					<h6 class="fw-semibold fs-4">@item.ProductName</h6>
					<div class="d-flex align-items-center justify-content-between">
						<h6 class="fw-semibold fs-4 mb-0">@item.Price₺ <span class="ms-2 fw-normal text-muted fs-3"></span></h6>
						<ul class="list-unstyled d-flex align-items-center mb-0">
							<li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
							<li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
							<li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
							<li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
							<li><a class="" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	}	
</div>
