@model CreateFeatureDto
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post" asp-action="CreateFeature">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Başlık</h5>
                <input type="text" class="form-control" asp-for="Title" />
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Açıklama</h5>
                <input type="text" class="form-control" asp-for="Head" />
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Görsel Url</h5>
                <input type="text" class="form-control" asp-for="ImageUrl" />
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-secondary m-1">Ekle</button>
</form>
